**/*.db
**/*.sqlite
**/*.sqlite3
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/Dockerfile*
**/__pycache__
.pytest_cache/*
boletim/*
data/analysis/*
data/backup/*
data/download/*
data/error/*
data/log/*
data/ocupacao/*
data/output/*
