# Main
cached_property
ckanapi
click
defusedxml>=0.6.0
goodtables==2.4.9
gspread
html2text
https://github.com/turicas/rows/archive/develop.zip
https://github.com/turicas/async_process_executor/archive/develop.zip
jinja2
oauth2client
openpyxl
python-Levenshtein
pytz
requests
selenium
splinter
Pillow
s3cmd
scrapy
tqdm

# Spiders
--only-binary pymupdf

# Web server
flask
gunicorn
